<style>
  .col-md-1, .col-md-2,.col-md-3 {
     padding-left: 2px !important; padding-right: 2px !important;
  }
  .flDomainStars {
        list-style-type: none;
        display: block;
        float: right;
        padding: 2px 8px;
    }    
        
    .flDomainStars > li{
        float: left;
        margin: 1px;       
    }

    .flDomainStars > li > i{
        color: #FDD835;        
    }
    .feedbackDetailsTable {
        width: 100%;
    }
    .feedbackDetailsTable td {
        padding: 8px 5px;
    }
    .feedbackTableTr:hover {
        background-color: #F5F5F5;
    }
</style>
<div class="page page-table" data-ng-controller="feedbackController">
    <div class="row" ng-show="domains.length > 0">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading" ng-click="isFilterOpen = !isFilterOpen" style="position: relative;"><strong><span class="glyphicon glyphicon-th"></span> Apply Filter</strong></div>
              <div class="panel-body" style="padding-bottom: 2px" uib-collapse="isFilterOpen">
                <div class="col-md-2">
                  <span class="ui-select custSelect" style="width: 100%; background-color:white;">
                    <select ng-model="domainId" ng-change="onSelectDomain()">
                      <option value=""><span style="color: grey;text-align: center">Select Domain</span></option>
                      <option value="{{domain.DOMAIN_ID}}" data-ng-repeat="domain in domains">{{domain.DOMAIN_URL}}</option>
                    </select>
                  </span>
                </div>
                <div class="col-md-2">
                  <div class="input-group ui-datepicker" class="col-md-3">
                          <input type="text" 
                                 class="form-control"
                                 uib-datepicker-popup="{{format}}"
                                 ng-model="startDate"
                                 is-open="popup1.opened"
                                 min-date="minFromStartDate"
                                 max-date="maxDate"
                                 datepicker-options="dateOptions"
                                 ng-required="true"
                                 close-text="Close"
                                 readonly='readonly'
                                 placeholder='From Date'
                                 ng-disabled="domainId == ''"/>
                          <span class="input-group-addon" ng-click="openStartDateCal()"><i class="ti-calendar"></i></span>
                      </div>
                </div>   
                <div class="col-md-2">
                  <div class="input-group ui-datepicker">
                          <input type="text" 
                                 class="form-control"
                                 uib-datepicker-popup="{{format}}"
                                 ng-model="endDate"
                                 is-open="popup2.opened"
                                 min-date="startDate"
                                 max-date="maxDate"
                                 datepicker-options="dateOptions"
                                 ng-required="true"
                                 close-text="Close"
                                 readonly='readonly'
                                 placeholder='To Date'
                                 ng-disabled="domainId == ''"/>
                          <span class="input-group-addon" ng-click="openEndDateCal()"><i class="ti-calendar"></i></span>
                      </div>
                </div>

                <div class="col-md-2">
                  <span class="ui-select custSelect" style="width: 100%; background-color:white ">
                    <select ng-model="catId" ng-disabled="domainId == ''" class="form-control">
                      <option value=""><span style="color: grey;text-align: center">Categories</span></option>
                      <option value="{{cat.CAT_ID}}" data-ng-repeat="cat in categories">{{cat.CAT_NAME}}</option>
                    </select>
                  </span>
                </div>
                  
                <div class="col-md-3">
                  <span class="ui-select custSelect" style="width: 100%; background-color:white ">
                    <select ng-model="subCatId" ng-disabled="domainId == ''" class="form-control">
                      <option value=""><span style="color: grey;text-align: center">All Sub Categories</span></option>
                      <option value="{{suCat.SUBCAT_ID}}" data-ng-repeat="suCat in subCategories">{{suCat.SUBCAT_NAME}}</option>
                    </select>
                  </span>
                </div>
                 
                <div class="col-md-1">
                  <span class="ui-select custSelect" style="width: 100%; background-color:white ">
                    <select ng-model="rating" ng-disabled="domainId == ''" class="form-control">
                      <option value=""><span style="color: grey;text-align: center">Ratings</span></option>
                      <option value="{{rt}}" data-ng-repeat="rt in [1,2,3,4,5]">{{rt}}</option>
                    </select>
                  </span>
                </div>
                
              </div>
              <div style="padding:5px 16px 10px 16px" uib-collapse="isFilterOpen">
                <button class="btn btn-primary btn-w-md" ng-click="applyFilterTogetFeedbacks()" ng-disabled="domainId == ''">Submit</button>
              </div>  
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-show="feedbacks != '' && feedbacks.length > 0">
          <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Feedbacks</strong></div>
            <table class="table">
                <thead>
                    <tr>
                        <th width="4%">#</th>
                        <th width="8%" style="text-align: center;">Rating</th>
                        <th width="35%">Comments</th>
                        <th width="14%">Category</th>
                        <th width="24%">Sub Category</th>
                        <th width="15%">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="feedback in feedbacks" ng-click="showFeedbackDetails(feedback)" class="feedbackTableTr">
                      <td style="text-align: center;">{{$index+1}}</td>
                      <td style="text-align: center;"><span class="label {{themeColors[feedback.RATING-1]}}">{{feedback.RATING}}</span></td>
                      <td>{{feedback.TEXT.length > 50 ? feedback.TEXT.substring(0,50) + '...': feedback.TEXT}}</td>
                      <td>{{feedback.CAT_NAME}}</td>
                      <td>{{feedback.SUBCAT_NAME.length > 35 ? feedback.SUBCAT_NAME.substring(0,35) + '...': feedback.SUBCAT_NAME}}</td>
                      <td>{{getFeedbackDateTS(feedback.CREATED_AT) | date:'dd-MMM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
    </div>

    <div class="col-md-12" ng-show="domains.length > 0 && (feedbacks == '' || feedbacks.length == 0)">
      <div class="callout callout-danger">
        <p>Didn't find any feedback!</p>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3 text-center" ng-show="domains.length == 0">    
      <div align="center" >
        <p>You don't have any domain registered for feedbacks!</p>
        <a href="#/form/flDomainAdd" style="display: inline-block;"><h4><u>Lets start by adding one</u></h4></a>
      </div>
    </div>


    <script type="text/ng-template" id="feedbackDetails.html">
      <div class="modal-header" style="padding: 10px 15px">
       <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 style="width: 70%; display: inline-block;">{{feedbackDEtails.catName}}</h4>
            <ul class="flDomainStars">
              <li ng-repeat="rt in getArrayFrmNumber(feedbackDEtails.rating)" style="font-size:18px"><i class="fa fa-star "></i></li>
            </ul>
      </div>
      <div class="modal-body" style="padding: 5% 8%">
        <table class="feedbackDetailsTable">
          <tr>
            <td style="width: 30%"><label>Date</label></td>
            <td>{{feedbackDEtails.createdAt | date:'dd-MMM-yyyy HH:mm a'}}</td>
          </tr>
          <tr>
            <td><label>Sub Category</label></td>
            <td>{{feedbackDEtails.subCatName}}</td>
          </tr>
          <tr>
            <td style="vertical-align: top"><label>Comments</label></td>
            <td>{{feedbackDEtails.text}}</td>
          </tr>
          <tr>
            <td><label>Email</label></td>
            <td>{{feedbackDEtails.email && feedbackDEtails.email.length > 0 ? feedbackDEtails.email : '-'}}</td>
          </tr>
          <tr>
            <td><label>Country</label></td>
            <td>{{feedbackDEtails.country}}</td>
          </tr>
          <tr>
            <td><label>Browser</label></td>
            <td>{{feedbackDEtails.browser}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
      </div>
    </script>
</div>
