<style>
	.copyButton:hover {
		background-color: {{color.warning}} !important;
		color: white !important;
	}

	
	/*****************************************
	  upload button styles
	******************************************/
	.file-upload {
		position: relative;
		display: inline-block;
		height: 150px;
		
		cursor: pointer;
	}

	.file-upload__label {
	  /*display: block;*/
	  /*padding: 1em 2em;*/
	 /* color: #fff;*/
	  /*background: #222;
	  border-radius: .4em;*/
	  
	 height: 100%;
	  border: 2px dashed #CCCCCC;
	  cursor: pointer;
	}
	    
	.file-upload__input {
		cursor: pointer;
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    font-size: 1;
	    width:100%;
	    height: 100%;
	    opacity: 0;
	}

</style>

<div class="page page-general" class="column" data-ng-controller="pluginController">
	<!-- Integration Info -->
	<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="isIntegrationInfoCollapsed = !isIntegrationInfoCollapsed">
                    Click here to know how to integrate plugin API in your website
                </div>
                <div class="panel-body" uib-collapse="isIntegrationInfoCollapsed">
                	<h4>So simple, just put the follwing line as it is in '{{headTagText}}' tag of your website:</h4>
                   	<input type="text" id="idPluginAPIText" value="{{pluginAPIText}}" class="form-control" readonly="readonly">
                    <br/>
                    <button ng-click="copyAPILinks()" class="btn btn-warning btn-w-md">Copy</button>

            	</div>
        	</div>
    	</div>
    </div>	
	

	<!-- Modal template End -->
	<div class="row">
        <div class="col-md-12">
            
                
                    <div class="col-sm-6 col-md-offset-3 text-center" ng-show="domains.length > 1">
                        <span class="ui-select custSelect" style="width: 70%; background-color:white ">
                            <select ng-model="domainId" ng-change="onSelectDomain()" id="domainNamesList">
                                <option value=""><span style="color: grey;text-align: center">Select Domain</span></option>
                                <option value="{{domain.DOMAIN_ID}}" data-ng-repeat="domain in domains">{{domain.DOMAIN_URL}}</option>
                            </select>

                        </span>
                    </div>
                
             <div class="col-md-6 col-md-offset-3 text-center" ng-show="domains.length <= 1">    
		                    <h4 ng-show="domains.length == 1" style="display: inline-block;">{{domains[0].DOMAIN_URL}}</h4>
		                    <div align="center" ng-show="domains.length == 0" >
			                    <p>You don't have any domain registered!</p>
			                    <a href="#/form/flDomainAdd" style="display: inline-block;"><h4><u>Lets start by adding one</u></h4></a>
		                    </div>
		                </div>
		                <input type="hidden" ng-model="domainNameIn">
        </div>
    </div>
    <div class="divider divider-md"></div>
		            
	<!-- Plugin Properties Section -->
	<div class="row">
	    <div class="column col-md-6" ng-show="domainId != ''">
	    	
		    	<section class="panel panel-default">
			        	<div class="panel-heading" ><strong><span class="glyphicon glyphicon-th"></span> Properties</strong></div>
			        	<div class="panel-body">
			                <form role="form" class="form-horizontal" data-ng-submit="submitPlPropertyForm()" name="updatePlPrpertiesDomainForm">
			                	<div class="form-group">
			                        <label for="pluginTitle" class="col-sm-4">Plugin Title</label>
			                        <input type="text" ng-model="plugin.LABELTEXT" class="form-control" maxlength="30" style="display: inline-block; width: 60%">
			                    </div>
			                	<div class="form-group">
				                    <label for="pluginStatus" class="col-sm-4">Activate</label>
				                    <div class="col-sm-8" style="padding-top:4px">
				                        <label class="ui-switch ui-switch-success ui-switch-sm"><input type="checkbox" value="1" ng-model="isActive" ng-change="plugin.ISACTIVE = isActive ? 1 : 0"><i></i></label>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label for="pluginAlignment" class="col-sm-4">Button Alignment</label>
			                        <span class="ui-select custSelect col-sm-8">
			                            <select data-ng-model="plugin.ALIGNMENT" requred>
			                                <option value="LEFT">Left</option>
			                                <option value="CENTER">Center</option>
			                                <option value="RIGHT">Right</option>
			                            </select>
			                        </span>
			                    </div>
			                    <div class="form-group">
			                        <label for="pluginColor" class="col-sm-4">Button Color</label>
			                        <!-- <span class="ui-select custSelect col-sm-8">
			                            <select data-ng-model="plugin.PLUGIN_COLOR" requred>
			                                <option value="#EF5350">Red</option>
			                                <option value="#FFA726">Orange</option>
			                                <option value="#42A5F5">Blue</option>
			                            </select>

			                        </span> -->
			                        <input id="colorpicker" data-ng-model="plugin.PLUGIN_COLOR">
			                    </div>
			                   
			                    <!-- <div class="form-group">
			                    	<label for="pluginNewTab" class="col-sm-4">Open In New Tab?</label>
			                    	<dl class="dl-horizontal">
				                        <dd>
				                            <label class="ui-radio"><input name="radio1" type="radio" ng-model="plugin.ISNEWTAB" ng-value="1" ><span>Yes</span></label>
				                            <label class="ui-radio"><input name="radio1" type="radio" ng-model="plugin.ISNEWTAB" ng-value="0" checked><span>No</span></label>
				                        </dd>
				                    </dl>
			                    </div> -->
			                    <div class="divider divider-lg"></div>
			                    <button type="submit" class="btn btn-primary btn-w-md" data-ng-disabled="!canSubmitPlProperties()">Submit</button>
			                </form>
		                </div>
		        </section>

		        <section class="panel panel-default">
			        	<div class="panel-heading" ><strong><span class="glyphicon glyphicon-th"></span> Upload Logo</strong></div>
			        	<div class="panel-body">
			        		<button class="btn btn-warning btn-w-md" ng-click="openUploadLogoModal()">Upload/Change</button>
		                </div>
		        </section>
		    </div>
		    <div class="column col-md-6" ng-show="domainId != ''">
		    	<section class="panel panel-default">
			        	<div class="panel-heading" ><strong><span class="glyphicon glyphicon-th"></span> Categories</strong></div>
			        	<div class="panel-body">
			        		<div class="panel panel-success">
				                <div class="panel-heading" ng-click="isAddCatFormCollapsed = !isAddCatFormCollapsed">
				                    <h3 class="panel-title">Add New Category</h3>
				                </div>
				                <div class="panel-body" uib-collapse="isAddCatFormCollapsed">
					                <form role="form" data-ng-submit="submitPlCategoryForm()" name="addCategoryForm">
					                    <div class="form-group">
				                            <!-- <label for="categoryName">Category Name*</label> -->
				                            <input  type="text" 
				                                    class="form-control" 
				                                    placeholder="Category Name"
				                                    data-ng-model="subCat.subcatName"
				                                    maxlength="100" 
				                                    required>
				                        </div>
					                    <button type="submit" class="btn btn-primary btn-w-md" data-ng-disabled="!canSubmitPlAddCategory()">Submit</button>
					                </form>
				                </div>
				            </div>
				                <div class="divider divider-md"></div>
				                <div>
				                	<ul class="list-group">
					                    <li class="list-group-item" ng-repeat="category in subCategories">
					                    	<div style="width: 84%; display: inline-block;">
					                        	{{category.SUBCAT_NAME}}
				                            </div>
				                            <div style="width: 15%; display: inline-block;">
				                            	<label class="ui-switch ui-switch-success ui-switch-sm"><input type="checkbox" ng-model="subCatCheck$index" ng-checked="category.pivot.ISACTIVE == 1" ng-click="showSubCatToggleConfirm(category.SUBCAT_ID, $index)" id="idSubCatToggle{{$index}}"><i></i></label>
				                            </div>
				                            <!-- <div style="width: 5%; display: inline-block;text-align:right">
				                            	<span><i class="ti-close"></i></span>
				                            </div> -->    
					                    </li>
					                </ul>
				                </div>
		                </div>
		        </section>
	    </div>
    
	</div>

	 <div class="row" ng-show="domainId != ''">
	    	<div class="col-md-12">
		    	<section class="panel panel-default">
					<div class="panel-heading" ><strong><span class="glyphicon glyphicon-th"></span> {{domainNameIn}} Preview</strong></div>
					<div class="panel-body">
				        
				            <object type="text/html" id="webPageArea" data="index.html" style="overflow:none;height:500px; width: 100%">
				    		</object>
				       
			        </div>
		        </section>
	         </div>
    </div>
	<script type="text/ng-template" id="uploadLogo.html">
		<div class="modal-header">
			<h4>Upload Logo</h4>
		</div>
		<div class="modal-body">
			<table style="width: 100%">
				<tr>
					<td>
						<div class="callout callout-danger" ng-show="showUploadFileError">
                        	<span class="ti-close" style="cursor: pointer; float:right" ng-click="showUploadFileError = false"></span>
                        	<p style="width: 80%; margin-right: 0px">{{uploadError}}!</p>
                    	</div>
					</td>
				</tr>
				<tr>
					<td align="center" style="padding:20px">
						<span style="color: #BBBBBB">Click below to browse image file or you can drag and drop image file.</span><br/><br/>
						<div class="file-upload">
					    	<img for="upload" ng-src="{{logoImg}}" class="file-upload__label" id="idUploadLogoInput" onerror="this.src=\'images/feedbackLogo.png\'"/>
					    	<input id="upload" class="file-upload__input" type="file" name="file-upload" file-model = "myFile" onchange='angular.element(this).scope().showImage(this)' accept="image/*">
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Upload</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	

 </div>



 