<div class="page page-general" class="column" data-ng-controller="userController">

    <div class="row">
    	<div class="col-md-12">
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-click="isAddUserFormCollapsed = !isAddUserFormCollapsed"><strong><span class="glyphicon glyphicon-th"></span> Add User</strong></div>
		            <div class="panel-body" uib-collapse="isAddUserFormCollapsed">
		                <div class="col-md-6 col-md-offset-3">
		                	<div class="callout callout-danger" ng-show="showUserFormError">
		                        <span class="ti-close" style="cursor: pointer; float:right" ng-click="showUserFormError = false"></span>
		                        <p style="width: 80%; margin-right: 0px"><i class="fa fa-exclamation-circle"></i> {{errorMsg}}</p>
		                    </div>
		                    <form name="addUserForm" class="form-horizontal form-validation" data-ng-submit="submitUserInfoForm()">
			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <label for="">First Name</label>
			                        </div>
			                        <div class="col-sm-9">
			                            <input  type="text"
			                                	class="form-control"
			                                    placeholder="First Name"
			                                    data-ng-model="user.fname"
			                                    required
			                                    data-ng-maxlength="100">
			                         </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <label for="">Last Name</label>
			                        </div>
			                        <div class="col-sm-9">
			                            <input  type="text"
			                                class="form-control"
			                                placeholder="Last Name"
			                                data-ng-model="user.lname"
			                                required
			                                data-ng-maxlength="100">
			                            </div>
			                        </div>

			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <label for="">Role</label>
			                        </div>
				                    <div class="col-sm-9">
				                        <span class="ui-select" style="margin-left: 0px; width: 120px">
							                <select data-ng-model="user.role" required>
							                    <option value="{{role.ROLE_ID}}" data-ng-repeat="role in roles">{{role.ROLE_NAME}}</option>
							                </select>
							            </span>
				                    </div>
			                    </div> 

			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <label for="">Address</label>
			                        </div>
			                        <div class="col-sm-9">
			                            <input  type="text"
			                                class="form-control"
			                                placeholder="Address"
			                                data-ng-model="user.address"
			                                required
			                                data-ng-maxlength="200">
			                        </div>
			                    </div>

			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <label for="">Email</label>
			                        </div>
			                        <div class="col-sm-9">
			                            <input type="email"
			                                placeholder="Email"
			                                class="form-control"
			                                data-ng-model="user.email"
			                                required
			                                data-ng-maxlength="150">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <label for="">Phone No</label>
			                        </div>
				                    <div class="col-sm-9">
				                        <input type="text"
				                            placeholder="Phone No"
				                            class="form-control"
				                            data-ng-model="user.phone"
				                            required
				                            data-ng-maxlength="20">
				                    </div>
			                    </div> 
			                    <div class="text-right">
				                    <button type="submit"
				                        class="btn btn-primary btn-w-md"
				                        data-ng-disabled="!canSubmit()" >Submit</button>
			                    </div>    
		                    </form>
		                </div>
		            </div> 
	            </div>
	        </div>
	       
    </div> <!-- row End -->
	<div id="usersView" class="row">
    		<div class="col-md-4" data-ng-repeat="userDetails in users">
           <!-- Pofile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading clearfix {{profileBackTheme[$index % 4]}}">
                    <a href="" class="pull-left profile">
                        <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                    </a>
	                <h4>{{userDetails.FIRST_NAME + ' ' + userDetails.LAST_NAME}}</h4>
                    <p>{{userDetails.ROLE_NAME}}</p>
                </div>
                <ul class="list-group">
                	<li class="list-group-item">
                        <i class="ti-email"></i>
                        {{userDetails.EMAIL}}
                    </li>
                	<li class="list-group-item">
                        <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;
                        {{userDetails.PHONE_NO}}
                    </li>
                    <li class="list-group-item">
                        <i class="ti-home"></i>
                        {{userDetails.ADDRESS}}
                    </li>
                </ul>
            </div>
            <!-- end Pofile panel -->
        </div>
    </div>

</div>