<style>
    .errorSpan {
       color: #f44336;
       text-align: center;
    }
</style>
  <!--<div class="page page-general" class="column" data-ng-controller="pluginController">
 Integration Info -->
  <!-- <div class="row">
        <div class="col-sm-8 col-md-offset-2" style="margin-top: 2%;margin-bottom: 2%;">
            <section>
                <div class="panel panel-default" style="border: none">
                    <div style="min-height: 500px" uib-collapse="isIntegrationInfoCollapsed">
                      <div class="row">
                        <div class="col-sm-7" style="position: relative;padding: 0px;min-height: 500px;display: inline-block;background: url('images/assets/loginBack.jpg'); background-repeat: no-repeat; background-size: cover">
                          <div style="min-height: 500px; background-color:black;opacity: 0.7;"></div>
                          <div style="position: absolute; padding: 10px; color: white; bottom: 20px; left: 20px">
                            <p style="padding-bottom: 4px">Here you can write whatever you want to write!!</p>
                            <p style="font-weight: 400; font-size: 11px">Sub title</p>
                          </div>
                        </div>
                        <div class="col-sm-5">
                             SIGN IN FORM 
                        </div>
                      </div>
                    </div>
                </div>
            </section>
          </div>
      </div>
    </div>   -->






<!-- **************************  Old Code ****************************** -->


    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">{{main.brand}}</a></h1>
        </section>
    </div>

    <div class="signin-body" ng-controller="loginCntrl">
        <div class="container">
            <div class="form-container">

                <form class="form-horizontal" data-ng-submit="submitLoginForm()" name="signinForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email"
                                       class="form-control input-lg"
                                       placeholder="Username"
                                       data-ng-model="user.email"
                                       required
                                       data-ng-maxlength=150
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control input-lg"
                                       placeholder="Password"
                                       data-ng-model="user.password"
                                       required
                                       data-ng-maxlength=150
                                       >
                            </div>
                        </div>
                        <h5 class="errorSpan" ng-if="loginError">{{loginErrorText}}</h5>
                        <div class="divider divider-xl"></div>
                        <div class="form-group">
                            <button data-ng-disabled="!canSubmit()" class="btn btn-primary btn-lg btn-block text-center" >Log in</button>
                        </div>
                    </fieldset>
                </form>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <a href="#/page/signup">Sign up</a>
                    </p>
                </section>
                
            </div>
        </div>
    </div>

</div>