<div class="page-signup" ng-controller="signupController">

        <h2 align="center" style="color: white">Sign Up</h2>
   

    <div class="signup-body">
        <div class="container">
            <div class="form-container">

                <section>
                    <form class="form-horizontal text-center" id="signupForm" method="POST" name="addSignUpForm">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                                <input  type="text"
                                        class="form-control input-lg"
                                        placeholder="First Name"
                                        maxlength="150"
                                        ng-model="user.fname"
                                        required
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                                <input  type="text"
                                        class="form-control input-lg"
                                        placeholder="Last Name"
                                        maxlength="150"
                                        ng-model="user.lname"
                                        required
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email"
                                       class="form-control input-lg"
                                       placeholder="Email"
                                       maxlength="150"
                                       ng-model="user.email"
                                       required
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                </span>
                                <input  type="text"
                                        class="form-control input-lg"
                                        placeholder="Phone No"
                                        maxlength="20"
                                        ng-model="user.phone"
                                        required
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-home"></span>
                                </span>
                                <input  type="text"
                                        class="form-control input-lg"
                                        placeholder="Address"
                                        maxlength="200"
                                        ng-model="user.address"
                                        required
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-briefcase"></span>
                                </span>
                                <input  type="text"
                                        class="form-control input-lg"
                                        placeholder="Organization Name"
                                        maxlength="200"
                                        ng-model="user.organisation"
                                        required
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control input-lg"
                                       placeholder="Password"
                                       maxlength="100"
                                       ng-model="user.password"
                                       required
                                       >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control input-lg"
                                       placeholder="Confirm Password"
                                       maxlength="100"
                                       ng-model="user.passwordConfirmation"
                                       required
                                       >
                            </div>
                        </div>
                        
                        <div class="divider divider-lg"></div>
                        <div class="form-group">
                            <p class="additional-info text-small">By clicking on sign up, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p>
                            <div class="divider"></div>
                            <button class="btn btn-primary btn-block btn-lg" type="submit" ng-disabled="!canSubmit()" ng-click="submitSignUp()">Sign up</button>
                        </div>
 
                    </form>
                </section>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right"><a href="#/" >Log in now</a></p>
                </section>

            </div>
        </div>
    </div>
</div>