        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/ui"><i class="ti-wand"></i><span data-translate="Configuration"></span></a>
            <ul>
                <li><a href="#/form/flDomainAdd"><i class="ti-angle-right"></i><span data-translate="Domains"></span></a></li>
                <li><a href="#/ui/icons"><i class="ti-angle-right"></i><span data-translate="Plugin Prperties"></span> <span class="badge badge-info">3</span></a></li>
                
            </ul>
        </li>
        <li><a href="#/page/flUsers"><i class="ti-users"></i><span data-translate="Users"></span></a></li>
    </ul>
</div>