        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/page/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li><a href="#/page/flFeedbacks"><i class="ti-email"></i><span data-translate="Feedbacks"></span></a></li>
        <li><a href="#/form/flDomainAdd"><i class="ti-world"></i><span data-translate="Domains"></span></a></li>
        <li><a href="#/page/flUsers"><i class="ti-user"></i><span data-translate="Users"></span></a></li>
        <li><a href="#/page/flPlugin"><i class="ti-pin-alt"></i><span data-translate="Plugin"></span></a></li>
        <li><a href="#/page/flReports"><i class="ti-stats-up"></i><span data-translate="Reports"></span></a></li>        
    </ul>
</div>